.topCell {
    width: 4em;
    height: 10em;
    float:left; 
    display:inline; 
    width: 32%;
    border-bottom: 0.1em solid;
    text-align: center;
    height: 10em;
}

#xText{
    color:#DB5A42;
    text-align: center;
 
    font-size: 7em;
}

.bottomCell {
    width: 4em;
    height: 10em;
    display:inline; 
    float:left; 
    width: 32%;
    text-align: center;
}

#leftCell {
    border-right: 0.1em solid;
    text-align: center;
}

#rightcell {
    border-left: 0.1em solid;
}



