.body,html {
  background-color: #0f5257;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

#board {
  margin-left: auto;
  margin-right: auto;
  padding: 9em;
  width: 60%;
}

.playerX {
  padding-top: 0.2m;
  float: left;
  color:#F5F5F5;
  font-size: 4em;
}

#score {
  
  color: #EEBA0B;
  float: middle;
  
}



.playerO {
  float: right;
  padding-top: 0.2em;
  color:#F5F5F5;
  font-size: 4em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
